.container-hp{
    width: 100%;
}
*{
    padding: 0%;
    margin: 0%;
}
.container-header{
    width: 100%;
    height: 40px;
    padding-bottom: 10px;
    position: sticky;
    top: 0px;
    background: #fff;
    z-index: 10;
    /* border: 1px solid rgb(136, 82, 82); */
}
.main-header{
    width: 97%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    
    
}
.bar-logo{
    width: 130px;
    height: 20px;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    /* border: 1px solid black; */
}
.bar-logo img{
    height: 20px;
}
.search-mic-hd{
    width: 500px;
    height: 30px;
    /* margin: auto; */
    /* border: 1px solid black; */
    display: flex;
    margin-top: 5px;
}
.search-mic-flx{
    width: 100%;
    height: 100%;
    display: flex;
    /* justify-content: space-between; */

}
.search-bar{
    width: 450px;
    border: 1px solid black;
    border-radius: 15px;
    display: flex;

}
.input input{
    width: 380px;
    height: 80%;
    margin-top: 1px;
    margin-left: 10px;
    margin-right: 15px;
    
    
    outline: none;
    border: none;
}
.search-bar i{
    /* margin-top: 5px; */
    /* margin-left: 5px; */
    width: 30px;
    height: 15px;
    padding: 5px;
    margin-top: 0/.5px;
    background-color: #f8f8f8;
    
    border-top-right-radius: 12.5px;
    border-bottom-right-radius: 12.5px;
    /* border: 1px solid black; */
}
.search-mic{
    margin-left: 20px;
    
    width: 30px;
    height: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 50%;
    /* border: 1px solid black; */
    background-color: #f2f2f2;

}
.vid-not-sin{
    width: 10%;
    
    height: 30px;
    

}
.v-n-s-flx{
    width: 100%;
    height: 100%;
    margin-top: 5px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
}
.vid-ic i{
    margin-top: 5px;
}
.not-ic{
    margin-top: 5px;
}
.sin-ic img{
    width: 50px;
    border-radius: 50%;
    background-color: #f2f2f2;
    border: 1px solid black;
}
.con-hp-flex{
    width: 97%;
    height: 900px;
    display: flex;
    justify-content: space-between;
    margin: auto;
}
.left-sidebar-flex{
    width: 15%;
}
.flex-left-hp{
    width: 100%;
    height: 100%;
    /* background-color: aqua; */
    overflow-y: scroll;
    position: sticky;
    top:0 ;
    padding-left: 2%;
    padding-top: 0px;
    background: #fff;
}
.flx-hp-1{
    margin-bottom: 20px;
}
.flx-hp-1 li{
   display: flex;
   margin-top: 15px;
   font-size: 14px;
   font-weight: 700;
   /* border: 1px solid black; */
   /* margin-left: 10px; */
   /* margin-right: 10px; */



}
.flx-hp-1 li i{
    /* margin-top: 10px; */
    margin-right: 10px;
    /* border: 1px solid black; */
}

      /*--------------- toggle-sidebar-left---------- */

.flex-left-hp-sidebar{
    width: 30%;
    /* border: 1px solid black; */
    margin-left: -20px;
}
.flex-menu-sb{
    width: 100%;
    margin-bottom: 25px;
    margin-top: 20px;
}
.flex-menu-sb h6{
    font-size: 10px;
    font-weight: 100;
    
}


.right-sidebar-flex{
    width: 83.5%;
    height: 100%;
}

/*--------------- toggle-sidebar-right---------- */

.flex-right-hp-sidebar{
    width: 110%;
    margin-left: -10%;
}



.flex-right-hp{
    width: 100%;
    height: 100%;
    /* background-color: aqua; */
    /* overflow-y: scroll; */
    position: sticky;
    top:100px;
    
    /* border: 1px solid black; */
}
.first-alltab{
    width: 100%;
    height: 30px;
    margin-bottom: 30px;
    /* overflow: hidden; */
    /* margin-top: 15px; */
    position: sticky;
    top:50px;
    left: 0px;
    background: #fff;
}
.first-alltab li{
    display: inline-block;
    margin-right: 12px;
    border: 1px solid lightgrey;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 2px;
    font-size: 14px;
    text-align: left;
    border-radius: 5px;
    /* background-color: lightgray; */
    cursor: pointer;
}

/* .first-alltab li:hover{
    background-color: black;
    color: white;
    cursor: pointer;
} */
.act-li{
    background-color: lightgray;
}
.Inact-li{
    background-color: black;
    color:white;
}
.flex-hp-thum{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* border: 1px solid black; */
    
}
.video-thumb{
    width: 32.5%;
    /* border-radius: 20px; */
}
.video-thumb img:nth-child(1){
    border-radius: 10px;
    transition: 0ms;
}
.video-thumb img:nth-child(1):hover{
    border-radius: 00px;
}
.title-vid{
    display: flex;
    justify-content: space-between;
}
.title-vid img{
    margin-right: 6px;
}
.title-vid h5{
    text-align: left;
    margin-left: 25px;
}
.title-vid i{
    margin-top: 2px;
    opacity: 0;
}
.title-vid i:hover{
    opacity: 1;
}
.views-days{
    display: flex;
    margin-left: 72px;
    margin-bottom: 50px;
    font-size: 12.5px;
}
.views-days h5{
    font-size: 11.5px;
    font-weight: 100;
    margin-right: 10px;
}

.profile-bar-right{
    width: 300px;
    height: 800px;
    position: fixed;
    top: 50px;
    right: 100px;
    /* color: white; */
    background-color: white;
    z-index: 10;
    transition-duration: 300;
    border-radius: 10px;
}
.profile-close{
    position: fixed;
    top: 0%;
    right: -100%;
    /* width: 300px; */
    height: 100vh;
    background-color: white;
    z-index: 10;
    transition-duration: 300;
}
#close-button {
    position: absolute;
    width: 40px;
    padding-top: 10px;
    height: 30px;
    right: 200px;
    top: 50px;
    z-index: 10;
    cursor: pointer;
    border: 1px solid white;
    border-radius: 50%;
    background-color: white;
}
.iphone-15pro-slide-buy{
    background:transparent;
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 10;
    top: 0%;
    left: 0%;
}
.profile-nav{
    display: flex;
    margin-left: 10px;
    text-align: left;
    margin-top: 20px;
    border-bottom: 1px solid gray;
    position: sticky;
    top: 0;

}
.profile-nav img{
    margin-right: 20px;
}
.profile-nav h5:nth-child(3){
    margin-top: 10px;
    margin-bottom: 10px;
    color: rgb(0, 0, 255);
}
.account-so{
    width: 100%;
    border-bottom: 1px solid gray;
}
.google-account{
    display: flex;
    margin-top: 10px;
    width: 90%;
    margin-left: 5%;
}
.google-account i{
    margin-right: 20px;
    padding-top: 5px;
    margin-bottom: 10px;
}
.slide-up{
    overflow-y: scroll;
}
